workflows/00-resolve-policy.json
{
  "name": "00-resolve-policy",
  "id": "a10b0000-0000-4000-8000-000000000001",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "flowops"
    },
    {
      "name": "backbone"
    }
  ],
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Accept {tenant_id, correlation_id} as input.\n// Normalize so downstream nodes always see consistent field names.\nconst in0 = $input.first().json || {};\nreturn [{\n  json: {\n    tenant_id: in0.tenant_id,\n    correlation_id: in0.correlation_id || null\n  }\n}];"
      },
      "id": "normalize-input",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/tenants",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('Normalize Input').item.json.tenant_id }}"
            },
            {
              "name": "select",
              "value": "id,name,plan,region,status,health_score"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-tenant",
      "name": "Fetch Tenant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/tenant_policies",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "tenant_id",
              "value": "=eq.{{ $('Normalize Input').item.json.tenant_id }}"
            },
            {
              "name": "select",
              "value": "policy"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-policy",
      "name": "Fetch Policy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const tenantRows = $('Fetch Tenant').first().json || [];\nconst policyRows = $('Fetch Policy').first().json || [];\nconst tenant = Array.isArray(tenantRows) ? tenantRows[0] : tenantRows;\nconst policyRow = Array.isArray(policyRows) ? policyRows[0] : policyRows;\nconst policy = (policyRow && policyRow.policy) || {};\n\n// Defensive defaults so callers never NPE on a missing policy column.\nconst defaults = {\n  retry: { max_attempts: 3, backoff: 'linear' },\n  approval: { required_over_usd: 1000, approver: 'csm', second_approver: 'ops-lead' },\n  entitlements: { sso: false, api: false }\n};\n\nreturn [{\n  json: {\n    tenant_id: tenant && tenant.id,\n    tenant_name: tenant && tenant.name,\n    plan: tenant && tenant.plan,\n    region: tenant && tenant.region,\n    status: tenant && tenant.status,\n    health_score: tenant && tenant.health_score,\n    policy: {\n      retry: { ...defaults.retry, ...(policy.retry || {}) },\n      approval: { ...defaults.approval, ...(policy.approval || {}) },\n      entitlements: { ...defaults.entitlements, ...(policy.entitlements || {}) }\n    },\n    correlation_id: $('Normalize Input').first().json.correlation_id\n  }\n}];"
      },
      "id": "merge",
      "name": "Merge Policy + Tenant",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Fetch Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Tenant": {
      "main": [
        [
          {
            "node": "Fetch Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Policy": {
      "main": [
        [
          {
            "node": "Merge Policy + Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
