workflows/03-onboarding.json
{
  "name": "03-onboarding",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "a10b0000-0000-4000-8000-000000000005"
  },
  "tags": [
    {
      "name": "flowops"
    },
    {
      "name": "service"
    }
  ],
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-onboarding",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "onboarding-webhook",
      "name": "Onboarding Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "stripe-onboarding"
    },
    {
      "parameters": {},
      "id": "replay-entry",
      "name": "Replay Entry",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        560
      ],
      "notesInFlow": true,
      "notes": "Contract B: 05-dlq-replay re-injects the failed event here with replay:true + the original correlation_id, bypassing the webhook response + idempotency gate."
    },
    {
      "parameters": {
        "jsCode": "function uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\nfunction headerValue(headers, name) {\n  const target = name.toLowerCase();\n  for (const [key, value] of Object.entries(headers || {})) {\n    if (String(key).toLowerCase() === target) return Array.isArray(value) ? value[0] : value;\n  }\n  return '';\n}\nfunction parseStripeSignature(header) {\n  const out = { t: null, v1: [] };\n  for (const part of String(header || '').split(',')) {\n    const idx = part.indexOf('=');\n    if (idx === -1) continue;\n    const key = part.slice(0, idx).trim();\n    const value = part.slice(idx + 1).trim();\n    if (key === 't') out.t = value;\n    if (key === 'v1') out.v1.push(value);\n  }\n  return out;\n}\nfunction hex(buffer) {\n  return Array.from(new Uint8Array(buffer)).map((b) => b.toString(16).padStart(2, '0')).join('');\n}\nfunction constantTimeEqual(a, b) {\n  const left = String(a || '').toLowerCase();\n  const right = String(b || '').toLowerCase();\n  let diff = left.length ^ right.length;\n  const max = Math.max(left.length, right.length);\n  for (let i = 0; i < max; i++) diff |= (left.charCodeAt(i) || 0) ^ (right.charCodeAt(i) || 0);\n  return diff === 0;\n}\nasync function hmacSha256Hex(secret, payload) {\n  const nodeCrypto = require('crypto');\n  return nodeCrypto.createHmac('sha256', secret).update(payload).digest('hex');\n}\nasync function verifyStripe(root, replay) {\n  const response_required = !!root.headers && !replay;\n  if (!response_required) return { response_required, authorized: true, auth_error: null, rawPayload: null };\n  const secret = $env.STRIPE_WEBHOOK_SECRET || '';\n  if (!secret) return { response_required, authorized: false, auth_error: 'missing STRIPE_WEBHOOK_SECRET', rawPayload: null };\n  const signature = headerValue(root.headers, 'stripe-signature');\n  if (!signature) return { response_required, authorized: false, auth_error: 'missing Stripe-Signature header', rawPayload: null };\n  const binary = $input.first().binary && $input.first().binary.data && $input.first().binary.data.data;\n  const rawPayload = binary ? Buffer.from(binary, 'base64').toString('utf8') : (typeof root.body === 'string' ? root.body : JSON.stringify(root.body || {}));\n  const parsed = parseStripeSignature(signature);\n  if (!parsed.t || parsed.v1.length === 0) return { response_required, authorized: false, auth_error: 'malformed Stripe-Signature header', rawPayload };\n  const tolerance = Number($env.STRIPE_WEBHOOK_TOLERANCE_SECONDS || 300);\n  const timestamp = Number(parsed.t);\n  if (!Number.isFinite(timestamp)) return { response_required, authorized: false, auth_error: 'invalid Stripe-Signature timestamp', rawPayload };\n  if (Number.isFinite(tolerance) && tolerance > 0 && Math.abs(Math.floor(Date.now() / 1000) - timestamp) > tolerance) {\n    return { response_required, authorized: false, auth_error: 'expired Stripe-Signature timestamp', rawPayload };\n  }\n  const expected = await hmacSha256Hex(secret, parsed.t + '.' + rawPayload);\n  const authorized = parsed.v1.some((sig) => constantTimeEqual(sig, expected));\n  return { response_required, authorized, auth_error: authorized ? null : 'invalid Stripe-Signature digest', rawPayload };\n}\n\n// --- Ingress: verify Stripe signature, normalize body, derive correlation id + idempotency key ---\n// Accepts both the manual demo body and a Stripe checkout.session.completed event.\nconst root = $input.first().json || {};\nconst replay = !!root.replay;\nconst verification = await verifyStripe(root, replay);\nlet body = root.body || root;\nif (verification.rawPayload) {\n  try {\n    body = JSON.parse(verification.rawPayload);\n  } catch (e) {\n    verification.authorized = false;\n    verification.auth_error = 'invalid JSON payload';\n    body = {};\n  }\n}\n// Stripe shape: { type, data: { object: {...} } }\nconst stripeObj = (body.data && body.data.object) || {};\n\nconst tenant_id = body.tenant_id || stripeObj.client_reference_id || root.tenant_id || null;\nconst email = body.email || stripeObj.customer_email || stripeObj.customer_details?.email || '';\nconst tenant_name = body.tenant_name || body.name || stripeObj.customer_details?.name || 'New Tenant';\nconst plan = body.plan || 'free';\nconst region = body.region || 'us-east-1';\n// amount in USD. Stripe amount_total is in cents.\nconst amount_usd = body.amount_usd != null\n  ? Number(body.amount_usd)\n  : (stripeObj.amount_total != null ? Number(stripeObj.amount_total) / 100 : 0);\n// Contract B replay: 05-dlq-replay re-enters via the Execute Workflow Trigger with\n// {body: <original trigger>, correlation_id, tenant_id, replay:true}. Preserve the\n// original correlation_id and mark the run so it bypasses the idempotency gate.\nconst source = replay ? 'replay' : (body.source || (body.type ? 'stripe' : 'manual'));\n\n// Lead-owned idempotency key derivation: stable source id, never random.\nconst event_id = body.event_id || body.id || stripeObj.id || null;\nconst idem_key = 'onboarding:' + (event_id || (tenant_id + ':' + email));\n\n// correlation_id must be a valid uuid (audit_log.correlation_id is uuid not null).\n// On replay, reuse the original correlation_id so the failure, the redrive, and the\n// re-run all thread onto one correlation-ID search.\nconst correlation_id = (replay && root.correlation_id) ? root.correlation_id : uuidv4();\n\nreturn [{\n  json: {\n    tenant_id,\n    tenant_name,\n    email,\n    plan,\n    region,\n    amount_usd,\n    source,\n    replay,\n    response_required: verification.response_required,\n    authorized: verification.authorized,\n    auth_error: verification.auth_error,\n    event_id,\n    idem_key,\n    correlation_id,\n    execution_id: String($execution.id),\n    supabase_url: ($env.SUPABASE_URL || '').replace(/\\/$/, ''),\n    service_key: $env.SUPABASE_SERVICE_KEY || '',\n    n8n_domain: ($env.N8N_DOMAIN || '').replace(/\\/$/, '')\n  }\n}];"
      },
      "id": "normalize",
      "name": "Gen Correlation + Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "is-replay",
              "leftValue": "={{ $json.replay }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "is-replay",
      "name": "Is Replay?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        330,
        300
      ],
      "notesInFlow": true,
      "notes": "Replay re-runs a known event on operator demand: skip the webhook response + idempotency gate (which would dedupe it as already-seen) and go straight to provisioning."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'queued', correlation_id: $('Gen Correlation + Normalize').item.json.correlation_id }) }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "respond-queued",
      "name": "Respond Queued",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Shape {key, tenant_id} for the 02-idempotency-check sub-workflow (Contract G2).\nconst p = $('Gen Correlation + Normalize').first().json;\nif (!p.tenant_id) {\n  throw new Error('onboarding: missing tenant_id (required for provisioning)');\n}\nreturn [{ json: { key: p.idem_key, tenant_id: p.tenant_id, workflow: '03-onboarding' } }];"
      },
      "id": "prep-idempotency",
      "name": "Prep Idempotency Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "a10b0000-0000-4000-8000-000000000004",
        "options": {}
      },
      "id": "idempotency-check",
      "name": "Idempotency Check",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "is-dup",
              "leftValue": "={{ $json.dup }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "is-duplicate",
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $('Gen Correlation + Normalize').first().json;\nreturn [{ json: {\n  tenant_id: p.tenant_id,\n  correlation_id: p.correlation_id,\n  service: 'onboarding',\n  step: 'ingest',\n  status: 'skipped',\n  payload: { reason: 'duplicate event', key: $('Idempotency Check').first().json.key, via: 'contract-g' }\n} }];"
      },
      "id": "prep-audit-dup",
      "name": "Prep Audit: Duplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        140
      ]
    },
    {
      "parameters": {
        "workflowId": "a10b0000-0000-4000-8000-000000000002",
        "options": {}
      },
      "id": "audit-dup",
      "name": "Audit: Duplicate",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1320,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $('Gen Correlation + Normalize').first().json;\nreturn [{ json: { tenant_id: p.tenant_id, correlation_id: p.correlation_id } }];"
      },
      "id": "prep-resolve",
      "name": "Prep Resolve Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        420
      ]
    },
    {
      "parameters": {
        "workflowId": "a10b0000-0000-4000-8000-000000000001",
        "options": {}
      },
      "id": "resolve-policy",
      "name": "Resolve Policy",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1320,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $('Gen Correlation + Normalize').first().json;\nreturn [{ json: {\n  tenant_id: p.tenant_id,\n  correlation_id: p.correlation_id,\n  service: 'onboarding',\n  step: 'ingest',\n  status: 'started',\n  payload: { source: p.source, execution_id: p.execution_id, amount_usd: p.amount_usd }\n} }];"
      },
      "id": "prep-audit-started",
      "name": "Prep Audit: Started",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        420
      ]
    },
    {
      "parameters": {
        "workflowId": "a10b0000-0000-4000-8000-000000000002",
        "options": {}
      },
      "id": "audit-started",
      "name": "Audit: Started",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1760,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gen Correlation + Normalize').item.json.supabase_url }}/rest/v1/tenants?on_conflict=id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": {{ JSON.stringify($('Gen Correlation + Normalize').item.json.tenant_id) }},\n  \"name\": {{ JSON.stringify($('Gen Correlation + Normalize').item.json.tenant_name) }},\n  \"plan\": {{ JSON.stringify($('Gen Correlation + Normalize').item.json.plan) }},\n  \"region\": {{ JSON.stringify($('Gen Correlation + Normalize').item.json.region) }},\n  \"status\": \"active\"\n}",
        "options": {}
      },
      "id": "upsert-tenant",
      "name": "Upsert Tenant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gen Correlation + Normalize').item.json.supabase_url }}/rest/v1/seats?on_conflict=tenant_id,user_email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": {{ JSON.stringify($('Gen Correlation + Normalize').item.json.tenant_id) }},\n  \"user_email\": {{ JSON.stringify($('Gen Correlation + Normalize').item.json.email) }},\n  \"status\": \"active\"\n}",
        "options": {}
      },
      "id": "create-seat",
      "name": "Create Seat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "over-threshold",
              "leftValue": "={{ Number($('Gen Correlation + Normalize').item.json.amount_usd) }}",
              "rightValue": "={{ Number($('Resolve Policy').item.json.policy.approval.required_over_usd) }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "approval-required",
      "name": "Approval Required?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2420,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "is-approve",
              "leftValue": "={{ $json.decision }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "approved",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3520,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "// Grant entitlements from the resolved policy (batch upsert to PostgREST).\nconst p = $('Gen Correlation + Normalize').first().json;\nconst pol = $('Resolve Policy').first().json;\nconst ents = (pol.policy && pol.policy.entitlements) || {};\nconst H = { apikey: p.service_key, Authorization: 'Bearer ' + p.service_key, 'Content-Type': 'application/json', Prefer: 'resolution=merge-duplicates,return=representation' };\nconst rows = Object.keys(ents).map(function (feature) {\n  return { tenant_id: p.tenant_id, feature: feature, enabled: !!ents[feature] };\n});\nlet result = [];\nif (rows.length > 0) {\n  result = await this.helpers.httpRequest({\n    method: 'POST',\n    url: p.supabase_url + '/rest/v1/entitlements?on_conflict=tenant_id,feature',\n    headers: H,\n    body: rows,\n    json: true\n  });\n}\nreturn [{ json: { tenant_id: p.tenant_id, correlation_id: p.correlation_id, entitlements: ents, granted: rows.length } }];"
      },
      "id": "grant-entitlements",
      "name": "Grant Entitlements",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3740,
        420
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=✅ *Tenant onboarded*\n{{ $('Resolve Policy').item.json.tenant_name }} ({{ $('Resolve Policy').item.json.plan }}) provisioned.\nEntitlements: {{ $('Grant Entitlements').item.json.granted }} applied.\nCorrelation: `{{ $('Gen Correlation + Normalize').item.json.correlation_id }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "notify-csm",
      "name": "Notify CSM",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3960,
        420
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegramBot",
          "name": "telegramBot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const p = $('Gen Correlation + Normalize').first().json;\nconst pol = $('Resolve Policy').first().json;\nreturn [{ json: {\n  tenant_id: p.tenant_id,\n  correlation_id: p.correlation_id,\n  service: 'onboarding',\n  step: 'complete',\n  status: 'success',\n  payload: { plan: pol.plan, entitlements: pol.policy.entitlements, granted: $('Grant Entitlements').first().json.granted }\n} }];"
      },
      "id": "prep-audit-success",
      "name": "Prep Audit: Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4180,
        420
      ]
    },
    {
      "parameters": {
        "workflowId": "a10b0000-0000-4000-8000-000000000002",
        "options": {}
      },
      "id": "audit-success",
      "name": "Audit: Success",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4400,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $('Gen Correlation + Normalize').first().json;\nconst approval = ($('Resolve Policy').first().json.policy && $('Resolve Policy').first().json.policy.approval) || {};\nreturn [{ json: {\n  tenant_id: p.tenant_id,\n  correlation_id: p.correlation_id,\n  service: 'onboarding',\n  step: 'approval',\n  status: 'skipped',\n  payload: { decision: 'rejected', approver: approval.approver }\n} }];"
      },
      "id": "prep-audit-rejected",
      "name": "Prep Audit: Rejected",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3740,
        80
      ]
    },
    {
      "parameters": {
        "workflowId": "a10b0000-0000-4000-8000-000000000002",
        "options": {}
      },
      "id": "audit-rejected",
      "name": "Audit: Rejected",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3960,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $('Gen Correlation + Normalize').first().json;\nconst pol = $('Resolve Policy').first().json;\nconst approval = (pol.policy && pol.policy.approval) || {};\nreturn [{ json: {\n  tenant_id: p.tenant_id,\n  correlation_id: p.correlation_id,\n  service: 'onboarding',\n  step: 'approval',\n  status: 'success',\n  payload: { decision: 'approved', approver: approval.approver }\n} }];"
      },
      "id": "prep-audit-approved",
      "name": "Prep Audit: Approved",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        260
      ]
    },
    {
      "parameters": {
        "workflowId": "a10b0000-0000-4000-8000-000000000002",
        "options": {}
      },
      "id": "audit-approved",
      "name": "Audit: Approved",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3520,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "is-authorized",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "is-authorized",
      "name": "Is Authorized?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        330,
        300
      ],
      "notesInFlow": true,
      "notes": "Public Stripe webhook calls must carry a valid Stripe-Signature for STRIPE_WEBHOOK_SECRET. Replay entries are in-process and trusted."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', message: 'unauthorized', reason: $('Gen Correlation + Normalize').first().json.auth_error || 'invalid Stripe signature' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "respond-unauthorized",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        550,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $('Gen Correlation + Normalize').first().json;\nconst pol = $('Resolve Policy').first().json;\nconst approval = (pol.policy && pol.policy.approval) || {};\nconst text = [\n  'Onboarding approval needed',\n  'Tenant: ' + (pol.tenant_name || p.tenant_id) + ' (' + (pol.plan || 'unknown') + ')',\n  'Amount: $' + (p.amount_usd || 0),\n  'Approver: ' + (approval.approver || 'n/a'),\n  'Correlation: `' + p.correlation_id + '`'\n].join('\\n');\nreturn [{ json: {\n  tenant_id: p.tenant_id,\n  correlation_id: p.correlation_id,\n  service: 'onboarding',\n  step: 'approval',\n  text,\n  parse_mode: 'Markdown',\n  timeout_hours: 24,\n  approver: approval.approver || null,\n  second_approver: approval.second_approver || null,\n  payload: {\n    tenant_name: pol.tenant_name,\n    plan: pol.plan,\n    amount_usd: p.amount_usd,\n    approver: approval.approver || null,\n    second_approver: approval.second_approver || null\n  }\n} }];"
      },
      "id": "prep-telegram-approval",
      "name": "Prep Telegram Approval Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        260
      ]
    },
    {
      "parameters": {
        "workflowId": "a10b0000-0000-4000-8000-000000000017",
        "options": {}
      },
      "id": "telegram-approve",
      "name": "Telegram Approve",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2860,
        260
      ]
    }
  ],
  "connections": {
    "Onboarding Webhook": {
      "main": [
        [
          {
            "node": "Gen Correlation + Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replay Entry": {
      "main": [
        [
          {
            "node": "Gen Correlation + Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen Correlation + Normalize": {
      "main": [
        [
          {
            "node": "Is Authorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Replay?": {
      "main": [
        [
          {
            "node": "Prep Resolve Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Queued": {
      "main": [
        [
          {
            "node": "Prep Idempotency Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Idempotency Input": {
      "main": [
        [
          {
            "node": "Idempotency Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idempotency Check": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Prep Audit: Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Resolve Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Audit: Duplicate": {
      "main": [
        [
          {
            "node": "Audit: Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Resolve Input": {
      "main": [
        [
          {
            "node": "Resolve Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Policy": {
      "main": [
        [
          {
            "node": "Prep Audit: Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Audit: Started": {
      "main": [
        [
          {
            "node": "Audit: Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit: Started": {
      "main": [
        [
          {
            "node": "Upsert Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Tenant": {
      "main": [
        [
          {
            "node": "Create Seat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Seat": {
      "main": [
        [
          {
            "node": "Approval Required?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Required?": {
      "main": [
        [
          {
            "node": "Prep Telegram Approval Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Grant Entitlements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Prep Audit: Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Audit: Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grant Entitlements": {
      "main": [
        [
          {
            "node": "Notify CSM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify CSM": {
      "main": [
        [
          {
            "node": "Prep Audit: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Audit: Success": {
      "main": [
        [
          {
            "node": "Audit: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Audit: Rejected": {
      "main": [
        [
          {
            "node": "Audit: Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Audit: Approved": {
      "main": [
        [
          {
            "node": "Audit: Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit: Approved": {
      "main": [
        [
          {
            "node": "Grant Entitlements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Authorized?": {
      "main": [
        [
          {
            "node": "Is Replay?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Telegram Approval Input": {
      "main": [
        [
          {
            "node": "Telegram Approve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Approve": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "a10b0000-0000-4000-8000-000000000003"
}
