workflows/08-incident-comms.json
{
  "name": "08-incident-comms",
  "id": "a10b0000-0000-4000-8000-000000000009",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "a10b0000-0000-4000-8000-000000000005"
  },
  "tags": [
    { "name": "flowops" },
    { "name": "service" }
  ],
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "uptime-kuma-incident",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "incident-webhook",
      "name": "Uptime Kuma Incident Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 260],
      "webhookId": "uptime-kuma-incident"
    },
    {
      "parameters": {},
      "id": "replay-entry",
      "name": "Replay Entry",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 520],
      "notesInFlow": true,
      "notes": "Contract B replay entry. Incident events can be tenant-agnostic; 05-dlq-replay allows that workflow explicitly."
    },
    {
      "parameters": {
        "jsCode": "function uuidv4() {\n  if (globalThis.crypto && typeof crypto.randomUUID === 'function') return crypto.randomUUID();\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nfunction statusFrom(raw, msg) {\n  const s = String(raw == null ? '' : raw).toLowerCase();\n  const m = String(msg || '').toLowerCase();\n  if (s === '1' || s === 'up' || s === 'resolved' || m.includes('up') || m.includes('recover')) return 'resolved';\n  if (s === '0' || s === 'down' || s === 'open' || m.includes('down') || m.includes('fail')) return 'open';\n  return 'open';\n}\n\nconst root = $input.first().json || {};\nlet body = root.body || root;\n// Replay payloads may carry the full webhook envelope ({headers,query,body}); unwrap it.\nif (body && typeof body === 'object' && body.body && typeof body.body === 'object' && (body.headers || body.query || body.webhookUrl)) body = body.body;\nconst monitor = body.monitor || body.heartbeat || body.data || {};\nconst replay = !!root.replay;\nconst response_required = !!root.body && !replay;\nconst monitor_id = String(body.monitor_id || monitor.id || monitor.monitorID || body.id || 'unknown');\nconst monitor_name = body.monitor_name || monitor.name || monitor.hostname || body.name || 'Unknown monitor';\nconst status = body.incident_status || body.status || monitor.status;\nconst incident_status = statusFrom(status, body.msg || body.message || monitor.msg);\nconst sevRaw = String(body.severity || '').toLowerCase();\nconst severity = ['minor', 'major', 'critical'].includes(sevRaw) ? sevRaw : (incident_status === 'open' ? 'major' : 'minor');\nconst region = body.region || monitor.region || (Array.isArray(body.tags) ? (body.tags.find(t => /^region:/i.test(String(t))) || '').split(':')[1] : null) || null;\nconst tenant_id = body.tenant_id || root.tenant_id || null;\nconst event_id = body.event_id || body.heartbeat_id || monitor.heartbeatID || body.id || (monitor_id + ':' + incident_status + ':' + (body.time || body.created_at || 'latest'));\nconst idem_key = 'incident:' + event_id;\nconst correlation_id = replay && root.correlation_id ? root.correlation_id : uuidv4();\n\nreturn [{ json: {\n  tenant_id,\n  monitor_id,\n  monitor_name,\n  incident_status,\n  severity,\n  region,\n  message: body.msg || body.message || monitor.msg || null,\n  event_id,\n  idem_key,\n  replay,\n  response_required,\n  correlation_id,\n  execution_id: String($execution.id),\n  supabase_url: ($env.SUPABASE_URL || '').replace(/\\/$/, '')\n} }];"
      },
      "id": "normalize",
      "name": "Normalize Incident",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 380]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            {
              "id": "is-replay",
              "leftValue": "={{ $json.replay }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ]
        },
        "options": {}
      },
      "id": "is-replay",
      "name": "Is Replay?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 380]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            {
              "id": "needs-response",
              "leftValue": "={{ $json.response_required }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ]
        },
        "options": {}
      },
      "id": "needs-response",
      "name": "Needs Webhook Response?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'queued', correlation_id: $('Normalize Incident').item.json.correlation_id }) }}",
        "options": { "responseCode": 202 }
      },
      "id": "respond-queued",
      "name": "Respond Queued",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "jsCode": "const p = $('Normalize Incident').first().json;\nreturn [{ json: { key: p.idem_key, tenant_id: p.tenant_id, workflow: '08-incident-comms' } }];"
      },
      "id": "prep-idempotency",
      "name": "Prep Idempotency Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 500]
    },
    {
      "parameters": {
        "workflowId": "a10b0000-0000-4000-8000-000000000004",
        "options": {}
      },
      "id": "idempotency-check",
      "name": "Idempotency Check",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1340, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            {
              "id": "is-dup",
              "leftValue": "={{ $json.dup }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ]
        },
        "options": {}
      },
      "id": "is-duplicate",
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 500]
    },
    {
      "parameters": {
        "jsCode": "const p = $('Normalize Incident').first().json;\nreturn [{ json: { tenant_id: p.tenant_id, correlation_id: p.correlation_id, service: 'incident', step: 'ingest', status: 'skipped', payload: { reason: 'duplicate event', key: p.idem_key, monitor_id: p.monitor_id, status: p.incident_status } } }];"
      },
      "id": "prep-audit-dup",
      "name": "Prep Audit: Duplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 320]
    },
    {
      "parameters": {
        "workflowId": "a10b0000-0000-4000-8000-000000000002",
        "options": {}
      },
      "id": "audit-dup",
      "name": "Audit: Duplicate",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [2000, 320]
    },
    {
      "parameters": {
        "jsCode": "const p = $('Normalize Incident').first().json;\nreturn [{ json: { tenant_id: p.tenant_id, correlation_id: p.correlation_id, service: 'incident', step: 'ingest', status: 'started', payload: { source: p.replay ? 'replay' : 'uptime-kuma', monitor_id: p.monitor_id, monitor_name: p.monitor_name, status: p.incident_status, region: p.region, execution_id: p.execution_id } } }];"
      },
      "id": "prep-audit-started",
      "name": "Prep Audit: Started",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 620]
    },
    {
      "parameters": {
        "workflowId": "a10b0000-0000-4000-8000-000000000002",
        "options": {}
      },
      "id": "audit-started",
      "name": "Audit: Started",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [2000, 620]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Normalize Incident').item.json.supabase_url + '/rest/v1/tenants?status=eq.active' + ($('Normalize Incident').item.json.region ? '&region=eq.' + encodeURIComponent($('Normalize Incident').item.json.region) : '') + '&select=id,name,plan,region,health_score' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "accept", "value": "application/json" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "fetch-impacted-tenants",
      "name": "Fetch Impacted Tenants",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 620],
      "onError": "continueRegularOutput",
      "notesInFlow": true,
      "notes": "fullResponse keeps a single wrapper item even when the tenant list is [] (an empty array body would otherwise split into zero items and starve the rest of the workflow). Same pattern as 02-idempotency-check."
    },
    {
      "parameters": {
        "jsCode": "const p = $('Normalize Incident').first().json;\n// Fetch Impacted Tenants runs with fullResponse:true -> single wrapper item {body,statusCode,...}\n// even when PostgREST returns []. body is the tenant array; anything else (HTTP error with\n// onError:continueRegularOutput) degrades to zero impacted tenants.\nconst resp = $('Fetch Impacted Tenants').first().json || {};\nconst tenants = Array.isArray(resp.body) ? resp.body.filter(t => t && t.id) : [];\nreturn [{ json: { tenant_id: p.tenant_id, correlation_id: p.correlation_id, monitor_id: p.monitor_id, monitor_name: p.monitor_name, severity: p.severity, status: p.incident_status === 'resolved' ? 'resolved' : 'open', region: p.region, impact_count: tenants.length, impacted_tenants: tenants.map(t => ({ id: t.id, name: t.name, plan: t.plan, region: t.region })), postmortem: { message: p.message, source: p.replay ? 'replay' : 'uptime-kuma', event_id: p.event_id } } }];"
      },
      "id": "prep-incident-row",
      "name": "Prep Incident Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 620]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normalize Incident').item.json.supabase_url }}/rest/v1/incidents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"correlation_id\": {{ JSON.stringify($json.correlation_id) }},\n  \"monitor_id\": {{ JSON.stringify($json.monitor_id) }},\n  \"monitor_name\": {{ JSON.stringify($json.monitor_name) }},\n  \"severity\": {{ JSON.stringify($json.severity) }},\n  \"status\": {{ JSON.stringify($json.status) }},\n  \"region\": {{ JSON.stringify($json.region) }},\n  \"impact_count\": {{ JSON.stringify($json.impact_count) }},\n  \"postmortem\": {{ JSON.stringify(Object.assign({}, $json.postmortem, { impacted_tenants: $json.impacted_tenants })) }}\n}",
        "options": {}
      },
      "id": "insert-incident",
      "name": "Insert Incident",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2660, 620]
    },
    {
      "parameters": {
        "jsCode": "const p = $('Normalize Incident').first().json;\nconst row = $('Prep Incident Row').first().json;\nconst text = [\n  p.incident_status === 'resolved' ? 'Incident resolved' : 'Incident opened',\n  'Monitor: ' + p.monitor_name + ' (' + p.monitor_id + ')',\n  'Severity: ' + p.severity + (p.region ? ' | Region: ' + p.region : ''),\n  'Impacted active tenants: ' + row.impact_count,\n  'Correlation: `' + p.correlation_id + '`'\n].join('\\n');\nlet alert_delivered = false;\nlet notice = null;\nconst token = $env.TELEGRAM_BOT_TOKEN;\nconst chat = $env.TELEGRAM_CHAT_ID;\nif (token && chat) {\n  try {\n    await this.helpers.httpRequest({ method: 'POST', url: 'https://api.telegram.org/bot' + token + '/sendMessage', body: { chat_id: chat, text, parse_mode: 'Markdown' }, json: true });\n    alert_delivered = true;\n  } catch (e) {\n    notice = 'telegram failed: ' + (e && e.message ? e.message : String(e));\n  }\n} else {\n  notice = 'telegram skipped: TELEGRAM_BOT_TOKEN / TELEGRAM_CHAT_ID not set';\n}\nreturn [{ json: { tenant_id: p.tenant_id, correlation_id: p.correlation_id, alert_delivered, notice, impact_count: row.impact_count } }];"
      },
      "id": "notify-telegram",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 620]
    },
    {
      "parameters": {
        "jsCode": "const p = $('Normalize Incident').first().json;\nconst n = $('Notify Telegram').first().json;\nreturn [{ json: { tenant_id: p.tenant_id, correlation_id: p.correlation_id, service: 'incident', step: 'segment-tenants', status: 'success', payload: { monitor_id: p.monitor_id, status: p.incident_status, region: p.region, impact_count: n.impact_count, telegram_delivered: n.alert_delivered, notice: n.notice } } }];"
      },
      "id": "prep-audit-success",
      "name": "Prep Audit: Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 620]
    },
    {
      "parameters": {
        "workflowId": "a10b0000-0000-4000-8000-000000000002",
        "options": {}
      },
      "id": "audit-success",
      "name": "Audit: Success",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [3320, 620]
    }
  ],
  "connections": {
    "Uptime Kuma Incident Webhook": {
      "main": [[{ "node": "Normalize Incident", "type": "main", "index": 0 }]]
    },
    "Replay Entry": {
      "main": [[{ "node": "Normalize Incident", "type": "main", "index": 0 }]]
    },
    "Normalize Incident": {
      "main": [[{ "node": "Is Replay?", "type": "main", "index": 0 }]]
    },
    "Is Replay?": {
      "main": [
        [{ "node": "Prep Audit: Started", "type": "main", "index": 0 }],
        [{ "node": "Needs Webhook Response?", "type": "main", "index": 0 }]
      ]
    },
    "Needs Webhook Response?": {
      "main": [
        [{ "node": "Respond Queued", "type": "main", "index": 0 }],
        [{ "node": "Prep Idempotency Input", "type": "main", "index": 0 }]
      ]
    },
    "Respond Queued": {
      "main": [[{ "node": "Prep Idempotency Input", "type": "main", "index": 0 }]]
    },
    "Prep Idempotency Input": {
      "main": [[{ "node": "Idempotency Check", "type": "main", "index": 0 }]]
    },
    "Idempotency Check": {
      "main": [[{ "node": "Is Duplicate?", "type": "main", "index": 0 }]]
    },
    "Is Duplicate?": {
      "main": [
        [{ "node": "Prep Audit: Duplicate", "type": "main", "index": 0 }],
        [{ "node": "Prep Audit: Started", "type": "main", "index": 0 }]
      ]
    },
    "Prep Audit: Duplicate": {
      "main": [[{ "node": "Audit: Duplicate", "type": "main", "index": 0 }]]
    },
    "Prep Audit: Started": {
      "main": [[{ "node": "Audit: Started", "type": "main", "index": 0 }]]
    },
    "Audit: Started": {
      "main": [[{ "node": "Fetch Impacted Tenants", "type": "main", "index": 0 }]]
    },
    "Fetch Impacted Tenants": {
      "main": [[{ "node": "Prep Incident Row", "type": "main", "index": 0 }]]
    },
    "Prep Incident Row": {
      "main": [[{ "node": "Insert Incident", "type": "main", "index": 0 }]]
    },
    "Insert Incident": {
      "main": [[{ "node": "Notify Telegram", "type": "main", "index": 0 }]]
    },
    "Notify Telegram": {
      "main": [[{ "node": "Prep Audit: Success", "type": "main", "index": 0 }]]
    },
    "Prep Audit: Success": {
      "main": [[{ "node": "Audit: Success", "type": "main", "index": 0 }]]
    }
  }
}
