workflows/12-revenue-reconciliation.json
{
  "name": "12-revenue-reconciliation",
  "id": "a10b0000-0000-4000-8000-000000000013",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "revenue-reconciliation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "reconciliation-webhook",
      "name": "Reconciliation Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        260
      ],
      "webhookId": "revenue-reconciliation"
    },
    {
      "parameters": {},
      "id": "replay-entry",
      "name": "Replay Entry",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        500
      ],
      "notesInFlow": true,
      "notes": "Contract B replay entry. Replays the original trigger with the same correlation_id."
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1
            }
          ]
        }
      },
      "id": "reconciliation-cron",
      "name": "Reconciliation Daily Cron",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        740
      ]
    },
    {
      "parameters": {
        "jsCode": "function uuidv4() {\n  if (globalThis.crypto && typeof crypto.randomUUID === 'function') return crypto.randomUUID();\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst root = $input.first().json || {};\nlet body = root.body || root;\n// Replay payloads may carry the full webhook envelope ({headers,query,body}); unwrap it.\nif (body && typeof body === 'object' && body.body && typeof body.body === 'object' && (body.headers || body.query || body.webhookUrl)) body = body.body;\nconst replay = !!root.replay;\nconst response_required = !!root.body && !replay;\nconst tenant_id = body.tenant_id || root.tenant_id || null;\nconst dayBucket = new Date().toISOString().slice(0, 10);\nconst event_id = body.event_id || body.run_id || ('reconciliation-' + (response_required ? 'manual-' : '') + (tenant_id || 'all') + '-' + dayBucket);\nconst correlation_id = replay && root.correlation_id ? root.correlation_id : uuidv4();\n\nreturn [{ json: {\n  tenant_id,\n  event_id,\n  idem_key: 'reconciliation:' + event_id,\n  replay,\n  response_required,\n  correlation_id,\n  execution_id: String($execution.id),\n  supabase_url: ($env.SUPABASE_URL || '').replace(/\\/$/, '')\n} }];"
      },
      "id": "normalize",
      "name": "Normalize Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "is-replay",
              "leftValue": "={{ $json.replay }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "is-replay",
      "name": "Is Replay?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "needs-response",
              "leftValue": "={{ $json.response_required }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "needs-response",
      "name": "Needs Webhook Response?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        620
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'queued', correlation_id: $('Normalize Run').item.json.correlation_id }) }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "respond-queued",
      "name": "Respond Queued",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        900,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $('Normalize Run').first().json;\nreturn [{ json: { key: p.idem_key, tenant_id: p.tenant_id || null, workflow: '12-revenue-reconciliation' } }];"
      },
      "id": "prep-idempotency",
      "name": "Prep Idempotency Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        620
      ]
    },
    {
      "parameters": {
        "workflowId": "a10b0000-0000-4000-8000-000000000004",
        "options": {}
      },
      "id": "idempotency-check",
      "name": "Idempotency Check",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1340,
        620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "is-dup",
              "leftValue": "={{ $json.dup }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "is-duplicate",
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1560,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $('Normalize Run').first().json;\nreturn [{ json: { tenant_id: p.tenant_id || null, correlation_id: p.correlation_id, service: 'reconciliation', step: 'scan', status: 'skipped', payload: { reason: 'duplicate run', key: p.idem_key } } }];"
      },
      "id": "prep-audit-dup",
      "name": "Prep Audit: Duplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        420
      ]
    },
    {
      "parameters": {
        "workflowId": "a10b0000-0000-4000-8000-000000000002",
        "options": {}
      },
      "id": "audit-dup",
      "name": "Audit: Duplicate",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2000,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $('Normalize Run').first().json;\nreturn [{ json: { tenant_id: p.tenant_id || null, correlation_id: p.correlation_id, service: 'reconciliation', step: 'scan', status: 'started', payload: { source: p.replay ? 'replay' : 'scheduled-or-webhook', execution_id: p.execution_id, tenant_id: p.tenant_id || null } } }];"
      },
      "id": "prep-audit-started",
      "name": "Prep Audit: Started",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        720
      ]
    },
    {
      "parameters": {
        "workflowId": "a10b0000-0000-4000-8000-000000000002",
        "options": {}
      },
      "id": "audit-started",
      "name": "Audit: Started",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2000,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $('Normalize Run').first().json;\nconst H = {\n  apikey: $env.SUPABASE_SERVICE_KEY,\n  Authorization: 'Bearer ' + $env.SUPABASE_SERVICE_KEY,\n  accept: 'application/json',\n  'content-type': 'application/json'\n};\nconst prefer = Object.assign({}, H, { Prefer: 'return=representation' });\nconst helpers = this.helpers;\nfunction enc(value) {\n  return encodeURIComponent(String(value));\n}\nasync function get(path) {\n  return await helpers.httpRequest({ method: 'GET', url: p.supabase_url + path, headers: H, json: true });\n}\n// Paginated fetch: PostgREST caps responses (max-rows); Range pages prevent silent row drop.\nasync function getAll(path, pageSize = 1000) {\n  const out = [];\n  for (let from = 0; ; from += pageSize) {\n    const page = await helpers.httpRequest({ method: 'GET', url: p.supabase_url + path, headers: Object.assign({}, H, { Range: from + '-' + (from + pageSize - 1), 'Range-Unit': 'items' }), json: true });\n    if (!Array.isArray(page) || page.length === 0) break;\n    out.push(...page);\n    if (page.length < pageSize) break;\n  }\n  return out;\n}\n// Exact server-side count without fetching rows (Content-Range: */N).\nasync function countWhere(path) {\n  const res = await helpers.httpRequest({ method: 'GET', url: p.supabase_url + path + '&limit=1', headers: Object.assign({}, H, { Prefer: 'count=exact' }), json: true, returnFullResponse: true });\n  const cr = (res.headers && (res.headers['content-range'] || res.headers['Content-Range'])) || '';\n  const total = Number(String(cr).split('/')[1]);\n  return Number.isFinite(total) ? total : null;\n}\nasync function post(path, body) {\n  return await helpers.httpRequest({ method: 'POST', url: p.supabase_url + path, headers: prefer, body, json: true });\n}\n\nconst idFilter = p.tenant_id ? '&id=eq.' + enc(p.tenant_id) : '';\nconst tenantFilter = p.tenant_id ? '&tenant_id=eq.' + enc(p.tenant_id) : '';\nconst tenants = await getAll('/rest/v1/tenants?select=id,name,plan,region,status,health_score,created_at' + idFilter);\nconst policies = await getAll('/rest/v1/tenant_policies?select=tenant_id,policy' + tenantFilter);\nconst invoices = await getAll('/rest/v1/invoices?select=tenant_id,stripe_id,status,amount,currency,attempt,created_at,updated_at' + tenantFilter);\nconst entitlements = await getAll('/rest/v1/entitlements?select=tenant_id,feature,enabled,updated_at' + tenantFilter);\n\nconst policyByTenant = new Map((policies || []).map((row) => [row.tenant_id, row.policy || {}]));\nconst invoicesByTenant = new Map();\nfor (const invoice of invoices || []) {\n  if (!invoicesByTenant.has(invoice.tenant_id)) invoicesByTenant.set(invoice.tenant_id, []);\n  invoicesByTenant.get(invoice.tenant_id).push(invoice);\n}\nconst entitlementByTenant = new Map();\nfor (const ent of entitlements || []) {\n  if (!entitlementByTenant.has(ent.tenant_id)) entitlementByTenant.set(ent.tenant_id, {});\n  entitlementByTenant.get(ent.tenant_id)[ent.feature] = !!ent.enabled;\n}\n\nconst findings = [];\nfor (const tenant of tenants || []) {\n  const tenantInvoices = invoicesByTenant.get(tenant.id) || [];\n  const ent = entitlementByTenant.get(tenant.id) || {};\n  const expected = ((policyByTenant.get(tenant.id) || {}).entitlements) || {};\n  const paid = tenantInvoices.filter((invoice) => invoice.status === 'paid');\n  const failed = tenantInvoices.filter((invoice) => ['payment_failed', 'open', 'uncollectible'].includes(invoice.status));\n\n  if (tenant.status === 'active' && tenantInvoices.length === 0) {\n    findings.push({ tenant_id: tenant.id, tenant_name: tenant.name, severity: 'high', type: 'missing_invoice', message: 'active tenant has no billing invoice records' });\n  }\n  for (const invoice of failed) {\n    findings.push({ tenant_id: tenant.id, tenant_name: tenant.name, severity: invoice.status === 'payment_failed' ? 'high' : 'medium', type: 'invoice_attention', stripe_id: invoice.stripe_id, status: invoice.status, amount: invoice.amount });\n  }\n  for (const [feature, expectedEnabled] of Object.entries(expected)) {\n    const actual = ent[feature] === true;\n    if (actual !== !!expectedEnabled) {\n      findings.push({ tenant_id: tenant.id, tenant_name: tenant.name, severity: 'medium', type: 'entitlement_drift', feature, expected: !!expectedEnabled, actual });\n    }\n  }\n  if (tenant.plan === 'enterprise' && paid.length === 0 && tenant.status === 'active') {\n    findings.push({ tenant_id: tenant.id, tenant_name: tenant.name, severity: 'medium', type: 'erp_gap', message: 'enterprise tenant has no paid invoice in local ERP/billing mirror' });\n  }\n}\n\nconst sevRank = { high: 0, medium: 1, low: 2 };\nfindings.sort((a, b) => (sevRank[a.severity] ?? 9) - (sevRank[b.severity] ?? 9));\n\nconst summary = {\n  tenant_scope: p.tenant_id || 'all',\n  tenant_count: (tenants || []).length,\n  invoice_count: (invoices || []).length,\n  finding_count: findings.length,\n  high_count: findings.filter((f) => f.severity === 'high').length,\n  medium_count: findings.filter((f) => f.severity === 'medium').length,\n  generated_at: new Date().toISOString()\n};\n\nconst rows = await post('/rest/v1/reconciliation_runs', [{\n  correlation_id: p.correlation_id,\n  tenant_id: p.tenant_id || null,\n  status: 'completed',\n  summary,\n  findings\n}]);\nconst run = Array.isArray(rows) ? rows[0] : rows;\n\nlet telegram_delivered = false;\nlet notice = null;\nif (p.telegram_token && p.telegram_chat && findings.length > 0) {\n  const top = findings.slice(0, 5).map((f) => f.severity.toUpperCase() + ' ' + f.tenant_name + ': ' + f.type).join('\\n');\n  const text = ['FlowOps reconciliation', 'Findings: ' + findings.length, 'Correlation: ' + p.correlation_id, '', top].join('\\n');\n  try {\n    await this.helpers.httpRequest({ method: 'POST', url: 'https://api.telegram.org/bot' + p.telegram_token + '/sendMessage', body: { chat_id: p.telegram_chat, text }, json: true });\n    telegram_delivered = true;\n  } catch (e) {\n    notice = 'telegram failed: ' + (e && e.message ? e.message : String(e));\n  }\n} else if (findings.length === 0) {\n  notice = 'telegram skipped: no findings';\n} else {\n  notice = 'telegram skipped: TELEGRAM_BOT_TOKEN / TELEGRAM_CHAT_ID not set';\n}\n\nreturn [{ json: { run_id: run && run.id, tenant_id: p.tenant_id || null, correlation_id: p.correlation_id, summary, findings, telegram_delivered, notice } }];"
      },
      "id": "run-reconciliation",
      "name": "Run Reconciliation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $('Run Reconciliation').first().json;\nreturn [{ json: {\n  tenant_id: r.tenant_id,\n  correlation_id: r.correlation_id,\n  service: 'reconciliation',\n  step: 'surface-drift',\n  status: 'success',\n  payload: { run_id: r.run_id, summary: r.summary, telegram_delivered: r.telegram_delivered, notice: r.notice }\n} }];"
      },
      "id": "prep-audit-success",
      "name": "Prep Audit: Drift",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2440,
        720
      ]
    },
    {
      "parameters": {
        "workflowId": "a10b0000-0000-4000-8000-000000000002",
        "options": {}
      },
      "id": "audit-success",
      "name": "Audit: Drift",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2660,
        720
      ]
    }
  ],
  "connections": {
    "Reconciliation Webhook": {
      "main": [
        [
          {
            "node": "Normalize Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replay Entry": {
      "main": [
        [
          {
            "node": "Normalize Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reconciliation Daily Cron": {
      "main": [
        [
          {
            "node": "Normalize Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Run": {
      "main": [
        [
          {
            "node": "Is Replay?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Replay?": {
      "main": [
        [
          {
            "node": "Prep Audit: Started",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Needs Webhook Response?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Webhook Response?": {
      "main": [
        [
          {
            "node": "Respond Queued",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Idempotency Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Queued": {
      "main": [
        [
          {
            "node": "Prep Idempotency Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Idempotency Input": {
      "main": [
        [
          {
            "node": "Idempotency Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idempotency Check": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Prep Audit: Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Audit: Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Audit: Duplicate": {
      "main": [
        [
          {
            "node": "Audit: Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Audit: Started": {
      "main": [
        [
          {
            "node": "Audit: Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit: Started": {
      "main": [
        [
          {
            "node": "Run Reconciliation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Reconciliation": {
      "main": [
        [
          {
            "node": "Prep Audit: Drift",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Audit: Drift": {
      "main": [
        [
          {
            "node": "Audit: Drift",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "a10b0000-0000-4000-8000-000000000005"
  },
  "tags": [
    {
      "name": "flowops"
    },
    {
      "name": "service"
    }
  ]
}
